 <!--About -->
        <div>
            <div class="content-box-lg">
                        <div class="content-box-lg">
                        <div class="container">
                            <div class="row">
                                <!--About left side-->
                                <div class="col-md-6">
                                    <div class="about-left">
                                        <div class="vertical-heading">
                                            <h5>who we are</h5>
                                            <h2>A <strong>Story</strong><br> About us</h2>    
                                        </div>
                                    </div>
                                </div>
                                <!--About right side-->
                                <div class="col-md-6">
                                    <div class="about-right">
                                        <p>Zemoga has been providing dedicated engineering and design talent to leading US companies for 17 years. We fill talent gaps. Short term, long term, on-site and nearshore. We are THE pioneers of outsourcing technology talent from Colombia. We invented it. Why Zemoga? Simple. We have the smartest, most creative and talented staff. <a href="#"class="about_contact">Contact us</a> now to find out how we can supercharge your team.</p>
                                    </div>
                                </div>
                            </div>
                                 <!-- About Bottom -->
                             <div class="row">
                                 <div class="col-md-12">
                                     <div id="about-bottom">
                                        <img src="img/about/zemoga.png" alt="About Us" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                         <!-- End About Bottom -->
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!-- End About -->