<!-- Blog -->
    <section class="blog">

        <div class="content-box-md">

            <div class="container">

                <div class="row">

                    <div class="col-md-5 col-sm-4">

                        <div class="blog-left">

                            <div class="vertical-heading">
                                <h5>Latest News</h5>
                                <h2>Latest<br>From <strong>Blog</strong></h2>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae cum itaque explicabo nulla quaerat id commodi voluptatem.</p>

                            <div class="blog-btn">
                                <a class="btn-more" href="#" title="View All Posts" role="button">View All Posts &rarr;</a>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-7 col-sm-8">

                        <div class="row">

                            <div class="col-md-6 col-sm-6">
                                <div class="blog-post">

                                    <h4>The digital “el niño”</h4>
                                    <p>The digital world has changed rapidly over these few years, though the facts remain the same: Through all of the digital innovations and start-up development in the United States, Latin America continues to grow, offering amazing potential as a resource for businesses.</p>
                                    <a href="https://www.zemoga.com/blog/post/the-digital-el-nino" target="_blank">Read More ></a>

                                    <div class="post-meta">
                                        <div class="row">

                                            <div class="col-md-6 col-sm-8 col-xs-5">
                                                <p><img src="img/blog/1.jpeg" alt="author" class="img-circle x-small"> DJ Edgerton</p>
                                            </div>
                                            <div class="col-md-6 col-sm-4 col-xs-7">
                                                <p class="text-right">June 25, 2018</p>
                                            </div>
                                            <div>
                                            <ul class="social-pages">
                                                <li><a href="#"><i class="fa fa-facebook circle_s facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter circle_s twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin circle_s linkedin"></i></a></li>
                                            </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">

                                <div class="blog-post">

                                    <h4>spark! the process of making ideas come to life</h4>
                                    <p>You’ve just come up with the next great idea. While aha! moments serve as the foundation for progress and success, you’ve only embarked on the first step towards these results.  </p>
                                    <a href="#">Read More ></a>

                                    <div class="post-meta">
                                        <div class="row">

                                            <div class="col-md-6 col-sm-8 col-xs-5">
                                                <p><img src="img/blog/2.jpeg" alt="author" class="img-circle x-small"> David Alvarez</p>
                                            </div>
                                            <div class="col-md-6 col-sm-4 col-xs-7">
                                                <p class="text-right">March 21, 2018</p>
                                            </div>
                                            <div>
                                            <ul class="social-pages">
                                                <li><a href="#"><i class="fa fa-facebook circle_s facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter circle_s twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin circle_s linkedin"></i></a></li>
                                            </ul>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>
    <!-- Blog Ends -->