 <!-- Contact -->
    <section class="contact">

        <div class="content-box-md">

            <div class="container">

                <div class="row">

                    <div class="col-md-6">

                        <!-- Contact Left -->
                        <div class="contact-left">

                            <div class="vertical-heading">
                                <h5>hey! find us</h5>
                                <h2>Around<br>the <strong>World</strong></h2>
                            </div>
                           <br>
                            <p>Contact us because we want you! But maybe, in this case, you want us too? Maybe you want to work with us? Well, we like to say nobody works for us, they work with us.</p>

                            <div class="offices">

                                <div class="row">

                                    <div class="col-md-6">

                                        <div class="office">
                                            <h4>New York</h4>
                                            <ul class="office-details">
                                                <li><i class="fa fa-mobile"></i><span>Phone (203) 663 6214</span></li>
                                                <li><i class="fa fa-map"></i><span>New York, NY 10003</span></li>
                                                <li><i class="fa fa-map-marker"></i><span>215 Park Avenue South<br>Suite 2016</span></li>
                                            </ul>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="office">
                                            <h4>Bogotá</h4>
                                            <ul class="office-details">
                                                <li><i class="fa fa-mobile"></i><span>(571) 744 3555</span></li>
                                                <li><i class="fa fa-map"></i><span>Bogotá, D.C. Colombia</span></li>
                                                <li><i class="fa fa-map-marker"></i><span>Calle 95 # 15-09<br>4th. Floor</span></li>
                                            </ul>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="offices">

                                <div class="row">

                                    <div class="col-md-6">

                                        <div class="office">
                                            <h4>L.A</h4>
                                            <ul class="office-details">
                                                <li><i class="fa fa-mobile"></i><span>(203) 663 6214</span></li>
                                                <li><i class="fa fa-map"></i><span>Studio City, CA 91602</span></li>
                                                <li><i class="fa fa-map-marker"></i><span>4448 Irvine Ave.<br>Studio City</span></li>
                                            </ul>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="office">
                                            <h4>Wilton</h4>
                                            <ul class="office-details">
                                                <li><i class="fa fa-mobile"></i><span>(203) 663 6214</span></li>
                                                <li><i class="fa fa-map"></i><span>Wilton,CT 06897</span></li>
                                                <li><i class="fa fa-map-marker"></i><span>120 Old Ridgefield Rd <br>Wilton</span></li>
                                            </ul>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div>
                                <ul class="social-form">
                                    <li><a href="#"><i class="fa fa-facebook circle_s facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter circle_s twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin circle_s linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <!-- Contact Right -->
                        <div class="contact-right">

                            <form name="Form" id="form">
                                <h4>Send Message</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa repell.</p>

                                <div class="row">

                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" >
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="email" placeholder="Email Address" pattern="[/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/]" >
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="phone" placeholder="Phone No."  >
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="subject" placeholder="Subject" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" > 
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="message" placeholder="Message" pattern="[a-z]{1,30}(,[a-z]{1,30})*" ></textarea>
                                    <div class="check-center">
                                        <label><input type="checkbox">I'm a fan of receiving cool stuff in my inbox n_n</label>
                                        <label><input type="checkbox">I want to learn more about the UX improvement Strategy Assessment</label>
                                        <label><input type="checkbox">I agree with your <span class="green">data protection polices</span></label>
                                    </div>
                                </div>

                                <div class="btn-container">
                                    <input class="btn-submit " type="submit" value="Send">
                                </div>

                            </form>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>
    <!-- Contact Ends -->