<!--Gallery-->
    <section class="gallery_container">
        <div class="center-text">
            <h2 class="heading-h2">our amazing job</h2>
        </div>
      <div class="gallery">
            <div class="gallery-item">
                <figure class="container-img">   
                  <img src="img/portafolio/001.jpg" alt="img_1" class="gallery-img img_small">
                </figure>
            </div>
            <div class="gallery-item">
                <figure class="container-img">
                    <img src="img/portafolio/002.jpg" alt="img_2" class="gallery-img img_small">
                </figure>
            </div>
            <div class="gallery-item">
                <figure class="container-img">
                    <img src="img/portafolio/003.jpg" alt="img_3" class="gallery-img img_small">
                </figure class="container-img">
            </div>
            <div class="gallery-item">
                <figure class="container-img">
                    <img src="img/portafolio/004.jpg" alt="img_4" class="gallery-img img_small">
                </figure>
            </div>
            <div class="gallery-item">
                <figure class="container-img">
                    <img src="img/portafolio/005.jpg" alt="img_5" class="gallery-img img_small">
                </figure>
            </div>
            <div class="gallery-item">
                <figure class="container-img">
                    <img src="img/portafolio/006.jpg" alt="img_6" class="gallery-img img_small">
                </figure>
            </div>
            <div class="gallery-item">
                <figure class="container-img">
                    <img src="img/portafolio/007.jpg" alt="img_7" class="gallery-img img_small">
                </figure>
            </div>
            <div class="gallery-item">
                <figure class="container-img">
                    <img src="img/portafolio/008.jpg" alt="img_8" class="gallery-img img_small">
                </figure>
            </div>
          </div>
      </section>
    <!--End Gallery-->