<!DOCTYPE html>
<html lang="en">

<head>

    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Zemoga - Build Better</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="css/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl-carousel/owl.theme.default.min.css">

    <!-- Responsive Tabs CSS -->
    <link rel="stylesheet" href="css/responsive-tabs/responsive-tabs.min.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup/magnific-popup.min.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="css/animate/animate.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">


</head>
<body>
    <!-- Home -->
    <section class="home">

        <!-- Background Video -->
        <video class="home-bg-video" poster="video/Working-Space.jpg" autoplay loop muted>
            <source src="video/Working-Space.ogv" type="video/ogg">
            <source src="video/Working-Space.mp4" type="video/mp4">
            <source src="video/Working-Space.webm" type="video/webm">
        </video>

        <!-- Overlay -->
        <div class="home-overlay"></div>
         <!-- Header -->
    <header>
        <nav class="navbar navbar-fixed-top" id="nav_home">
            <div class="container-fluid">
                <div class="site-nav-wrapper">

                    <div class="navbar-header">

                        <!-- Mobile Menu Open Button -->
                        <span id="mobile-nav-open-btn">&#9776;</span>

                        <!-- Logo -->
                        <a class="navbar-brand smooth-scroll" href="#home">
                            <img src="img/logo/logo.png" alt="logo" class="logo">
                        </a>
                    </div>

                    <!-- Main Menu -->
                    <div class="container">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav pull-right" id="black_text">
                                <li><a class="smooth-scroll" href="#home" name="a">Home</a></li>
                                <li><a class="smooth-scroll" href="#about">About</a></li>
                                <li><a class="smooth-scroll" href="#team">Team</a></li>
                                <li><a class="smooth-scroll" href="#services">Services</a></li>
                                <li><a class="smooth-scroll" href="#portfolio">Work</a></li>
                                <li><a class="smooth-scroll" href="#blog">Blog</a></li>
                                <li><a class="smooth-scroll" href="#contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Mobile Menu -->
                    <div id="mobile-nav">
                        <!-- Mobile Menu Close Button -->
                        <span id="mobile-nav-close-btn">&times;</span>

                        <div id="mobile-nav-content">
                            <ul class="nav">
                                <li><a class="smooth-scroll" href="#home">Home</a></li>
                                <li><a class="smooth-scroll" href="#about">About</a></li>
                                <li><a class="smooth-scroll" href="#team">Team</a></li>
                                <li><a class="smooth-scroll" href="#services">Services</a></li>
                                <li><a class="smooth-scroll" href="#portfolio">Work</a></li>
                                <li><a class="smooth-scroll" href="#blog">Blog</a></li>
                                <li><a class="smooth-scroll" href="#contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <!-- Header Ends -->
    <!-- Home Content -->
        <div class="home-content">

            <div class="home-content-inner" class="text-center">

                <div class="home-heading">
                    <h1 class="home-heading-1">Build</h1><br>
                    <h1 class="home-heading-2"><span>Better</span></h1>
                </div>

                <div class="home-text">
                    <p>We design and build better digital experiences that drive business.</p>
                </div>

                <div class="btn_container">
                          <a href="" class="btn1">learn more!</a>
                          <a href="" class="btn2"> watch our reel!</a>
                </div>

            </div>

        </div>
  <!-- Arrow Down -->
        <a href="#" class="smooth-scroll arrow-down">
            <i class="fa fa-angle-down"></i>
        </a>
    </section>