<!-- Team Statements -->
    <section class="statement">

        <div class="content-box-lg">

            <div class="container">

                <div class="row">

                    <div class="col-md-12 wow fadeIn">

                        <div class="text-center tech-statement">

                            <h3><i class="fa fa-quote-left"></i> We’re a multicultural team of some of the world’s best digital thinkers, designers, technologists and creative leaders all working together to kick some digital ass.<br> And we’ve been around since tweets came only from birds.<i class="fa fa-quote-right"></i> </h3>
                            <p>- Zemoga Crew -</p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>
    <!-- Team Statements Ends -->