<!-- What we do-->
    <section class="section-do">
                <div class="center-text">
                    <h2 class="heading-h2">how we build better business</h2>
                </div>
                <div class="container_do">
                    <div class="sub_container_do_1">
                        <h3 class="heading-h3">We’ve seen it all in the digital space</h3>
                        <p class="paragraph">
                            So listen up. All business is digital. And the digital experiences your company creates mean a lot. The era of endless planning and 6+ month build cycles is officially dead - while the others are rearranging the chairs in the boardroom for another 3-hour meeting about a meeting, we’re already thinking, designing and building.
                        </p>

                        <h3 class="heading-h3 u-margin-bottom-small">the many ways we work with our clients</h3>
                        <p class="paragraph">
                            We build digital destinations, mobile apps, sales empowerment tools, digital campaigns, social content, and a wide range of digital products. We’re nimble and flexible. We can help you solve big or small problems from scratch. Or jump in and assist you along the way.
                        </p>

                        <a href="#" class="btn-more">Learn more &rarr;</a>
                    </div>
                    <div class="sub_container_do_2">
                       <div class="composition">

                            <img srcset="img/portafolio/001.jpg"
                                 sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                                 alt="Photo 1"
                                 class="composition__photo composition__photo--p1 img_small"
                                 src="img/portafolio/001.jpg">

                            <img srcset="img/portafolio/002.jpg"
                                 sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                                 alt="Photo 2"
                                 class="composition__photo composition__photo--p2 img_small"
                                 src="img/portafolio/002.jpg">

                            <img srcset="img/portafolio/003.jpg,"
                                 sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                                 alt="Photo 3"
                                 class="composition__photo composition__photo--p3 img_small"
                                 src="img/portafolio/003.jpg">
                        </div>
                    </div>
                </div>
        </section>
        <!--End What we do-->